@import "tailwindcss";
:root {
  --primary-gradient: linear-gradient(
    180deg,
    rgba(166, 135, 62, 1) 0%,
    rgba(129, 94, 39, 1) 100%
  );
  --primary-text: #71717a;
}
.bg-primary {
  background: var(--primary-gradient);
}
.hover-primary-gradient:hover {
  background: var(--primary-gradient);
  color: #ffffff;
}
